.card{
    list-style: none;
    font-size: 1.6rem;
}

.movieImg{
    border-radius: .7rem;
}
.movieImg:hover{
    opacity: .7;
    transition: all .2s ease-in-out;
}


@media(max-width:500px){
    .movieImg{
        border-radius: .7rem;
        width: 90%;
        height: auto;
    }
}
